@model LearnAzure.Admin.Question

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Question</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ExamId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExamId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SectionId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SectionId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CategoryId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TopicId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TopicId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuestionText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuestionText)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Answer1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Answer1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Answer2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Answer2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Answer3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Answer3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Answer4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Answer4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Answer5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Answer5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Answer6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Answer6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CorrectAnswer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CorrectAnswer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Explanation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Explanation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReferenceUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReferenceUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsExamOnly)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsExamOnly)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FullNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Version)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Version)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserAdded)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserAdded)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsComplete)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsComplete)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    <a href="javascript:history.back()" title="Back To List">Back To List</a>
</p>
