@model IEnumerable<LearnAzure.Admin.Question>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ExamId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SectionId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TopicId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuestionText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Answer1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Answer2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Answer3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Answer4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Answer5)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Answer6)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CorrectAnswer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Explanation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReferenceUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsExamOnly)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Version)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserAdded)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsComplete)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ExamId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SectionId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TopicId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuestionText)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Answer1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Answer2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Answer3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Answer4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Answer5)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Answer6)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CorrectAnswer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Explanation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReferenceUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsExamOnly)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FullNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdatedAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Version)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserAdded)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsComplete)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
